.rw-login {
    padding: 32px 0;
}

.rw-login .rw-logo {
    width: 50%;
    height: auto;
}

.rw-login .rw-login-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}